<h1>Welcome to RetFlix!</h1>

<%= form_tag '/search', method: :get do %>
    <%= label_tag 'q', "Search for Movies" %>
    <%= text_field_tag 'q' %>
    <%= submit_tag 'Search'%>
<% end %>

<p>See our collection of movies below!</p>

<%= render 'movies/movies' %> 